

.img-bg{
    background-image: url('../../../Images/d-2.jpg');
    height: 500px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}