.top-footer{
    background-image: url(../../../Images/top_footer_bg.jpg);
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}